@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Light Mode Colors */
  --sitcky-active-light: #272727;
  --sticky-light: #ffcf7d;
  --background-light: #ffffff;
  --icon-light: #000000;
  --text-light: #000000;

  /* Dark Mode Colore */
  --sitcky-active-dark: #272727;
  --background-dark: #000000;
  --Sticky-dark: #ffffff;
  --icon-dark: #ffffff;
  --text-dark: #ffffff;
  --button-hover: #999999;
}


.dark-mode {
  background-color: var(--background-dark);
}

.dark-mode h1 {
  color: var(--text-dark);
}

.dark-mode .search-bar {
  color: #ffffff;
}

.dark-mode .save {
  background-color: var(--icon-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding: 50px 15px 50px 15px;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.note.new {
  margin: 0;
  background-color: var(--sitcky-active-light);
}

.note.new input {
  font-size: 2em;
  margin: 0.6em 0em -2em 0em;
  border: none;
  background-color: var(--sitcky-active-light);
}

.note.new input:focus {
  outline: none;
}


textarea {
  border: none;
  resize: none;
  background-color: var(--sitcky-active-light);
}

textarea:focus {
  outline: none;
}

.save {
  background-color: var(--text-light);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.title {
  margin-top: 0.6em;
  font-size: 2em;
  font-weight: bold;
}

.note {
  background-color: var(--sticky-light);
  border-radius: 10px;
  padding: 1rem;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  font-weight: 400;
  font-size: 16px;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  color: var(--icon-dark);
  cursor: pointer;
}

.delete-icon:hover {
  color: var(--sitcky-active-light);
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--sitcky-active-light);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.5em;
}

.search-bar input {
  border: none;
  background-color: var(--sitcky-active-light);
  min-width: 420px;
}

.search-bar input:focus {
  outline: none;
}